@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block py-4 px-8 border border-dark text-dark uppercase tracking-widest bg-white/20 backdrop-blur-md cursor-pointer transition hover:bg-dark/5
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F9F0;
  color: #433F3E;
}

h1,
h2,
h3 {
  font-family: var(--font-seasons-bold);
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  line-height: 100%;
  color: #C1A788;
}

h2 {
  font-size: 2rem;
  line-height: 120%;
  color: #C9B474;
}

h3 {
  font-size: 1.75rem;
  line-height: 120%;
  color: #C9B474;
}

section {
  padding: 56px 0;
}

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 28px;
  height: 28px;
  border: 0px;
  padding: 0px;
  background: transparent;
  transition: all 250ms ease-out;
  cursor: pointer;
  z-index: 999;
}

.burger:before,
.burger:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #C1A788;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-6px);
}

.burger:after {
  transform: translateY(6px);
}

.burger.open:before {
  transform: translateY(0) rotate(45deg);
}

.burger.open:after {
  transform: translateY(0) rotate(-45deg);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  section {
    padding: 120px 0;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  section {
    padding: 160px 0;
  }
}